@charset "UTF-8";
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body {
   
   background-image: linear-gradient(to bottom,#F1C8AF,#BE5056);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #66514c80;
}
h1 {
    color:#BE5056;
    text-align: center;
    text-shadow: 1px 1px 2px #80373ba4;;
}

h2 {
    color: #92a759;
}
p {
    text-align: justify;
}