@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Roboto+Condensed:ital,wght@1,700&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');





header {
    color: white;
    background-color: black;
    padding: 50px;
    margin: -9px;
    text-align: center;
}
#citação {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -30px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
h1 {

    color: white;
    font: lighter 3em 'Passion One', cursive;
}
    


p{
    margin: 0px;
}

#p1 {
    margin-top: -10px;
}
#p2 {
    margin-top: 40px;
    margin-bottom:60px ;
}
section {
    color: black;
    font-family: 'Sriracha', cursive;
    font-size: 1.12em;
    line-height:38px ;
}

section.simples {
    margin:70px 0px 0px 20px ;
    background-color: white;
    color: black;
}

#figura1 { 
    position: relative; 
    height: 70vw;
    margin: 100px -9px 60px -9px;
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#texto1 {
    
    height:280px ;
    width: 211px;
    position: absolute;
    padding:2px 5px;
    margin-left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    left: 50%;
    top: 50%;
    transform: translate(-115%,-50%);
}
    
#figura2 {
    margin: 100px -9px 60px -9px;
    background-image:url('imagens/background002.jpg');
    background-position:left  bottom ;
    background-attachment: fixed;
    background-size: cover;

}
div {
    background-color: rgba(0, 0, 0, 0.349);
    
}