@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Roboto+Condensed:ital,wght@1,700&display=swap') format()
}

header {
    background-color: black;
    padding: 40px;
    margin: -9px;
}

h1 {
    color: white;
    font-family: ;
}

section.simples {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}